
<% if @user.motels.present? %>
  <div class="container fullscreen">
    <p><i class="fa fa-chevron-left link" aria-hidden="true"></i><%=link_to " back", motels_path, class:"link orange" %></p>
    <div class="total">
      <h1> All bookings </h1>
      <h1 class="bold bg-success"> <%= @bookings.count %></h1>
    </div>

    <% @bookings.each do |booking|%>
        <div class="card">
          <div class="overall">
            <h3 class="orange"> <%= booking.paid_at[0,10] %> (paid at)</h3>
            <div class="row">
              <div class="col-md-6 col-xs-12 left">
                <p> <span class="bold">Gross Price:</span> <span> R$ <%= ((booking.amount_centavos.to_f/100)) %> </span></p>
                <p> <span class="bold">Commissions:</span> <span> R$ <%= ((booking.amount_centavos.to_f/100) - (booking.amount_centavos_earned.to_f/100)).round(2) %> </span></p>
                <p> <span class="bold">Fee Percentage:</span> <span> <%= booking.fee_percentage.round%>% </span></p>
              </div>
              <div class="col-md-6 col-xs-12 left">
                <p> <span class="bold">Period:</span> <span> <%= booking.booking_period %> </span></p>
                <p> <span class="bold">Booking Code:</span> <span> <%= booking.booking_code %> </span></p>
                <p> <span class="bold">Room:</span> <span> <%= booking.room.name %> </span></p>
              </div>
            </div>
          </div>
          <div class="earned">
            <p class="bold">Net earnings:</p>
            <h3 class="bold"> R$ <%= booking.amount_centavos_earned.to_f/100 %> </h3>
          </div>
        </div>

    <% end %>

  </div>

<% else %>
  <%= render "shared/motelless" %>
<% end %>
